<div class="jumbotron">
	<h1 class="display-3">Tara Code</h1>
	<p class="lead">It's my first node js application</p>
</div>

<div class="row clearfix">
	<div class="col-lg-12 text-center">
		<h2>Builded with:</h2>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<h4>Node Js</h4>
		<p><a target="_blank" href="https://nodejs.org/en/">https://nodejs.org/en/</a></p>

		<h4>Express Js</h4>
		<p><a target="_blank" href="https://expressjs.com/">https://expressjs.com/</a></p>

		<h4>Node Postgres</h4>
		<p><a target="_blank" href="https://node-postgres.com/">https://node-postgres.com/</a></p>
	</div>

	<div class="col-lg-6">
		<h4>Passport</h4>
		<p><a target="_blank" href="http://www.passportjs.org/">http://www.passportjs.org/</a></p>

		<h4>Bootstrap</h4>
		<p><a target="_blank" href="https://getbootstrap.com/">https://getbootstrap.com/</a></p>

		<h4>jQuery</h4>
		<p><a target="_blank" href="https://jquery.com/">https://jquery.com/</a></p>
	</div>
</div>